-r https://raw.githubusercontent.com/Lasagne/Lasagne/v0.1/requirements.txt
Lasagne==0.1
cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.4
decorator==4.3.2
funcsigs==1.0.2
kiwisolver==1.0.1
matplotlib==2.2.4
mock==2.0.0
networkx==2.2
nose==1.3.7
numpy==1.16.2
pandas==0.24.1
pbr==5.1.3
Pillow==5.4.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
scikit-image==0.14.2
scikit-learn==0.16.0
scipy==1.2.1
six==1.12.0
subprocess32==3.5.3
toolz==0.9.0
mkl==2019.0
